@font-face {
    font-family: "Rubik1";
    src: url("./fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik2";
    src: url("./fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik3";
    src: url("./fonts/Rubik-Bold.ttf") format("truetype");

}

:root {
    /* font-family: "Rubik1"; */
    margin: 0;
    padding: 0;
    font-size: 10px;
}

html,
body {
    margin: 0;
    /* margin-left: 100rem; */
    padding: 0; 
    height: 100%;
    display: grid;
    
    justify-content: center;
    background-color:#fcfcfa
}
.super_main_container{
    width: 1366px;
    position: relative;
}
h1,
h2,
h3,
h4,
h5,p {
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
/* Header */
header {
    padding-top: 3rem;
    background-color: #e8e7df;
}

.first_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_icons {
    display: flex;
    gap: 2rem;
}
header nav {
    display: flex;
    gap: 4rem;

}

header nav a {
    text-decoration: none;
    color: black;
    font-family: "Rubik2";
    font-size: 2rem;
}


.header_text {
    margin-top: 17rem;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header_text h1 {
    font-family: "Rubik3";
    font-size: 7rem;
}
.header_text p {
    font-family: "Rubik1";
    font-size: 2.5rem;
}

.text_aqua {
    color: rgb(50 191 206);
}

.view_catalog_btn {
    color: white;
    background-color: rgb(255 91 53);
    padding: 1.5rem;
    width: 17rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

}

.header_text_container {
    background: url("./img/waves.png") no-repeat ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* padding-bottom: 13rem; */
}
.header_star{
    position: absolute;
    left: 0;
    top:35rem
}
.header_flower{
    position: absolute;
    right: 0;
    top:16rem;
}



/* About */

.main_about_container {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.main_about_text p {
    max-width: 62rem;
    font-family: "Rubik1";
    line-height: 3rem;
    /* font-weight: 500; */
    font-size: 2rem;
    /* font-weight: 700; */
}

.main_about_text h1 {
    font-family: "Rubik3";
    font-size: 5rem;
    margin-bottom: 3rem;
}

.main_about_games {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.main_about_games .cart {
    margin: 2rem;
    padding: 4rem;
    padding-right: 6rem;
    padding-left: 6rem;
    height: 35rem;
    display: grid;
    gap: 1rem;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
}

.backgound1 {
    background-color: #f3e5f4;
}

.backgound2 {
    background-color: #f6eed1;
}

.cart_img,
.cart_img1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart h3 {
    font-family: "Rubik2";
    font-size: 2.5rem;
}

.cart p {
    font-family: "Rubik1";
    font-size: 1.5rem;
    font-weight: 500;

}

.cart_img img {
    width: 16rem;
    height: 25rem;
}

.backgound1 .cart_img1 img {

    width: 22rem;
    height: 25rem;
}



/* bing-bong */

.bing_bong {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8e7df;
    /* border-radius: 19%; */
    border-radius:14rem;
    padding: 15rem;
    text-align: center;
}
.title_bing_bong{
    font-family: "Rubik3";
    font-size: 5rem;
}
.top_shop_text{
    font-size: "Rubik1";
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.bing_bong_img {
    position: relative;
    text-align: center;
}
.top_left{
    position: absolute;
    top: 2rem;
    left: 1.6rem;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom_left{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.bing_bong_row{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}


.text_bing_bong{
    font-family: "Rubik2";
    font-size: 1.8rem;
}

/* lovely games */

.lovely_games{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18rem;
    gap: 15rem;
}

.lovely_games h1{
    font-family: "Rubik3";
    font-size: 6rem;
}

.lovely_class1{
    position: relative;
    background-color: #e8e7df;
    display: flex;
    justify-content: center;
    border-top-right-radius: 4rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 17rem;
    border-bottom-right-radius: 3rem;
    margin-bottom: 4rem;
    /* position: absolute; */
}
.lovely_class2{
    position: relative;
    background-color: #e8e7df;
    border-radius: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-right: 4rem;
}
.lovely_class3{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #e8e7df;
    border-radius: 5rem;
}
.lovely_games_mini_title{
    position: absolute;
    top:3.5rem;
    display: flex;
    text-align: center;
    font-family: "Rubik2";
    font-size: 2rem;
}


.sellary_kids_games{
    /* width: 100%; */
    padding-top: 6rem;
    /* padding-left: 6rem; */
    margin-top: 12rem;
    /* position: relative; */
    background-color: #e8e7df;
    display: flex;
    background-image: url("./img/photo.png");
    background-color: transparent;
    background-repeat:no-repeat;
    background-size: contain;
    /* align-items: center; */
}

.heart_container{
    position: relative;
    margin-right: 3rem;
    left: 8rem;
}
.heart_container h2{
    position: absolute;
    top: 4rem;
    left: 3.5rem;
    transform:rotate(-30deg);
    font-size: 2rem;
    color: #3bc1d0;
    font-family: 'Rubit3';

}
.row{
    display: flex;
}
.sellary_kids_text {
    margin-top: 1rem;
    /* padding-right: 70rem; */
    padding-left: 10rem;
    /* padding-bottom: 100rem; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

.sellary_kids_text h1{
    font-family: 'Rubik3';
    font-size: 7.5rem;
}
.sellary_kids_text p{
    font-family: 'Rubik1';
    font-size: 2rem;
}
.view_catalog_btn{
    margin-bottom: 16rem;
}





.game_with_description{
    margin-top: 12rem;
    gap: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50rem;
}

.game_of_month{
    background-color: #daf3f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
    /* padding-left: 1.6rem;
    padding-right: 1.6rem; */
    font-family: "Rubik2";
    font-size: 1.8rem;
    border-radius: 1.8rem;
    margin-right: 4rem;
    
}
.game_of_month img{
    width:4rem;
    height: 4rem;
    margin-right: 0.5rem;
}

.rate_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Rubik3" ;
    font-size: 2rem;
}

.rate_container img{
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
}
.container_city_game{
    display: flex;
    position: relative;
    /* justify-content: center;
    align-items: center; */
    gap:6rem
}


.city_game_text h1{
    margin-top: 3rem;
    font-family: "Rubik3";
    font-size: 6rem;
    margin-bottom: 1rem;
}
.city_game_text p{
    font-family: "Rubik1";
    font-size: 1.8rem;
}

.limit_row{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family:"Rubik2";
    font-size:1.8rem;
}
.limit_row div{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items:center;
}
.add_game_in_basket{
    margin-top: 3.5rem;
    display: flex;
    gap: 10rem;
}
.add_game_in_basket h3{
    font-family: "Rubik3";
    font-size: 4rem;
}
.add_in_basket_btn{
    font-family: "Rubik1";
    font-size: 2rem;
    border:none;
    border-radius:1rem;
    background-color:#ff5b35;
    color:#fffaf8;
    padding: 1rem 2rem 1rem 2rem;
}
.game_description_dop_info{
    position: absolute;
    top: 48rem;

}

.dop_info_radio_button{
    display: flex;
    background-color:#f0f0eb;
    padding:0.5rem 1rem;
    gap: 1.7rem;
    font-family: "Rubik1";
    font-size: 2rem;
    border-radius: 1.3rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.dop_info_radio_button input[type=radio] {
	display: none;
}

.dop_info_radio_button input[type=radio] + label {
	/* background: #ffe0a6; */
    cursor: pointer;
    padding: 0.5rem 4rem;
    border-radius:1rem
}

.dop_info_radio_button input[type=radio]:checked + label {
	background: #f5d961;
}

.game_description_dop_info p{
    font-family: "Rubik1";
    font-size: 1.82rem;
}








.form{
    display: flex;
    justify-content:center;
    /* margin-bottom: 21rem; */
    padding-top: 20rem;
    padding-bottom: 15rem;
    background: url("./img/big-waves.png") no-repeat;
}
.left_form_container{
    position: relative;
}
.left_form_container h1{
    font-family: "Rubik3";
    font-size: 7rem;
    margin-bottom: 2rem;
}
.left_form_container p{
    font-family: "Rubik1";
    font-size: 2.2rem;
}
.form_image_container{
    margin-top: 8rem;
    font-family: "Rubik2";
    font-size: 2rem;
    position: absolute;
    height: 10rem;
}
.image_container1,
.image_container2,
.image_container3,
.image_container4{
    position: relative;

}
.image_container2{
    left:17rem;
    top:-23rem;
}
.image_container3{
    left:32rem;
    top:-35rem;
}
.image_container4{
    left:12.4rem;
    top:-35rem;
}


.image_container1 p{
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%,-50%);
}

.image_container2 p{
    position: absolute;
    top: 66%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.image_container3 p{
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%,-50%);
}
.image_container4 p{
    position: absolute;
    top: 40%;
    left: 13%;
    transform: translate(-50%,-50%);
    transform: rotate(-16deg);
}


.right_form_container{
    margin-left: 20rem;
    /* margin-top: 200rem; */
    display: flex;
    flex-direction: column;
    font-family: "Rubik1";
}
.three_inputs_form p{
    font-family: "Rubik1";
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #7a8291;
}
.three_inputs_form input{
    border-color: #ced0d1;
    border-radius:2rem;
    width: 50rem;
    height: 5rem;
    margin-bottom: 2rem;
    align-items: center;
}
.choose_your_game_level div{
    display: flex;
    align-items: center;
    
}
.choose_your_game_level input{
    width: 2rem;
    height: 2rem;
    margin: 0;
    margin-right: 1rem;
}
.choose_your_game_level p{
    font-family: "Rubik1";
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.choose_your_game_level label{
    font-family: "Rubik1";
    font-size: 2.3rem;
    margin-right: 2rem;

}
.attention_personal_data{
    margin-top: 3rem;
    display: flex;
    align-items:center;
    font-size:2rem
}
.attention_personal_data input{
    width: 2.2rem;
    height: 2.2rem;
    margin: 0;
    margin-right: 1rem;
}


.buy_ticket{
    margin-top: 5rem;
    background-color:#ff5b35;
    color:#fffbf9;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 2.5rem 8rem;
    max-width: fit-content;
    font-size: 2rem;
    border-radius:2rem;
    border:none
}
footer{

    background-color: #e8e7df;
    padding: 4rem 0rem;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Rubik1";
}
footer img{
    margin-right: 2rem;
}
footer p{
    font-size: 2rem;
}
footer a{
    font-size: 1.8rem;
    color: black;
    /* color: #586176; */
}